@font-face {
   font-family: 'Futura';
   src: url('./FuturaCyrillicBook.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Futura';
   src: url('./FuturaCyrillicBold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
  font-family: 'Futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

* {
  font-family: 'Futura';
}